<style>
  .container{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .value{
    padding: 10px;
    background: #8257e6;
    color: #fff;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }
  .level{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }
  .answers{
    width: 350px;
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="container">
  <label>Olá <strong>name}}</strong>! Tudo Bem?</label>

  <h1>title}</h1>
  <br>
 
  <p>Esqueceu sua senha? utilize este código:</p> <strong>{{ token }}</strong>
  
  <br>
  <br>

  <strong>Sua opinião é muito importnate para nós</strong>
  <h3>Equipe | <strong>DB</strong></h3>
</div>